{% extends 'index.html'%}
{%load static %}
{% block content%}
{% include 'navbar.html' %}
<div>
    <form action="/post/update/{{user.id}}" method="POST" >
        {% csrf_token %}
        <fieldset>
            <legend>Post Your Knowledge</legend>
            <table>
                <tr> <td>Author Name</td><td><input type="text"  value="{{user.name}}"placeholder="author name" name="uname"> </td> </tr>
                <tr> <td>Title</td><td> <input type="text" value="{{user.post_title}}" placeholder="post_title" name="post_title"></td></tr>
                <tr> <td>Content</td><td> <textarea class="textarea"  name="post_content" placeholder="Type here..">{{user.post_content}}</textarea></td></tr>
                <tr> <td>Date</td><td>  <input value="{{user.date_published}}" type="date" name="date"></td></tr>
                <tr> <td>Profile Link</td><td><input type="text" value="{{user.user_profile_link}}" name="profile_link" placeholder="user profile link"></td></tr>
                <tr><td colspan="2"> <button type="submit">Update</button></td></tr>
            </table>
      </fieldset>

    </form>
</div>
{% endblock %}